* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  background-color: #22272e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}