* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.title {
  background-color: #42f5b9;
  padding: 10px 0;
  margin-bottom: 50px;
}

.title h1 {
  font-size: 2.5em;
  text-align: center;
  color: #16241f
}